SECRET_KEY=ここに python -c "import secrets;print(secrets.token_urlsafe(50))" などで生成した値を入れる

# 開発環境は True / 本番環境は False（未設定時は False）
DEBUG=True

DB_NAME=music
DB_USER=root
DB_PASSWORD=admin
DB_HOST=localhost
DB_PORT=3306
