{% extends 'base.html' %}
{% load static %}
{% load get_item %}
{% block title %}ランキング{% endblock %}
{% block content %}
<!-- ユーザー選択プルダウン -->
    <div class="top-bar">
        <form method="get" action="{% url 'artist_ranking' %}">
            <select name="top_n" id="top_n" onchange="this.form.submit()">
                {% for n in ranking_options %}
                    <option value="{{ n }}" {% if top_n == n %}selected{% endif %}>TOP{{ n }}</option>
                {% endfor %}
            </select>
            <select name="user" id="user" onchange="this.form.submit()">
                {% for user in all_users %}
                    <option value="{{ user.id }}" {% if user == selected_user %}selected{% endif %}>
                        {{ user.username }}
                    </option>
                {% endfor %}
            </select>
        </form>
    </div>
    <div class="artist-grid">
        {% for entry in main_artists %}
        <div class="artist-card">
            <div class="artist-card-header">
                <a href="{% url 'song_list' %}?q={{ entry.artist.name }}">{{ entry.artist.name }}</a>
                {{ entry.avg_score|floatformat:2 }}
            </div>
            <table>
                <tbody>
                    {% for song in entry.top_songs %}
                    <tr>
                        <td>
                            <a href="https://www.youtube.com/results?search_query={{ song.artist.name|urlencode }}+{{ song.title|urlencode }}" target="_blank" rel="noopener noreferrer">
                                    {{ song.title }}
                            </a>
                        </td>
                        <td class="score-cell">{{ song.user_score }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
    <div class="others-table-container">
        <div class="artist-card-header">その他</div>
        <table border="1" cellspacing="0" cellpadding="5">
            <tbody>
                {% for song in others_songs %}
                <tr>
                    <td>
                        <div><a href="https://www.youtube.com/results?search_query={{ song.artist.name|urlencode }}+{{ song.title|urlencode }}" target="_blank" rel="noopener noreferrer">{{ song.title }}</a></div>
                        <div><a href="{% url 'song_list' %}?q={{ song.artist.name }}">{{ song.artist.name }}</a></div>
                    </td>
                    <td class="score-cell">{{ song.user_score }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}