{% extends 'base.html' %}
{% load static %}
{% load get_item %}
{% block title %}作詞別TOP{% endblock %}

{% block content %}
    {% include "songs/partials/_top_bar.html" with current_kind='lyricist' %}

    {# 作詞別カード内の曲：作詞家は親に出るので非表示。歌手・作曲・年を出す #}
    {% include "songs/partials/_ranking_grid.html" with show_artist=True show_lyricist=False show_composer=True show_year=True %}

    {# その他テーブル：作詞家列を出す。各曲に歌手・作曲・年を表示 #}
    {% include "songs/partials/_others_table.html" with show_creator_col=True creator_type='lyricist' show_artist=True show_lyricist=False show_composer=True show_year=True %}

    {% include "songs/partials/_ranking_load_more.html" %}

    {% include "songs/partials/_score_modal.html" with modal_html=True %}
{% endblock %}

{% block extra_js %}
{{ block.super }}
{% include "songs/partials/_score_modal.html" with modal_js=True %}
{% endblock %}
